In [1]:
import pandas as pd
df = pd.read_csv('c:/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding ='latin_1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# Exploring the dataset

In [2]:
#An overview of the dataset
df.info

<bound method DataFrame.info of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [3]:
#Arithmetic properties of dataset
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [4]:
#subsetting rows and columns
df.iloc[[1,2,3],[0,1,2]]
#finding the year with the highest stock
high_stock = df.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].count()
print(high_stock)
proc_2017 = df.groupby('Element')['Y2017'].count()
print(proc_2017)

                                        Y2014  Y2015  Y2016  Y2017  Y2018
Element
Domestic supply quantity                 5244   5245   5250   5258   5256
Export Quantity                          3660   3704   3653   3660   3646
Fat supply quantity (g/capita/day)       4965   4974   4980   4982   4987
Feed                                     1216   1177   1215   1213   1225
Food                                     4896   4901   4910   4912   4913
Food supply (kcal/capita/day)            4947   4955   4963   4965   4969
Food supply quantity (kg/capita/yr)      4860   4865   4874   4876   4877
Import Quantity                          4919   4911   4908   4929   4945
Losses                                   2009   2009   2009   2009   2008
Other uses (non-food)                    1662   1667   1634   1619   1655
Processing                               1987   1995   1996   1998   2003
Production                               3830   3828   3838   3829   3846
Protein supply quantity (g/capita/day)   4963   4971   4978   4980   4986
Residuals                                4604   4605   4610   4618   4616
Seed                                      762    759    759    758    758
Stock Variation                          4230   4229   4231   4231   4217
Total Population - Both sexes              45     45     45     45     45
Tourist consumption                       555    555    555    555    555
Element
Domestic supply quantity                  5258
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4982
Feed                                      1213
Food                                      4912
Food supply (kcal/capita/day)             4965
Food supply quantity (kg/capita/yr)       4876
Import Quantity                           4929
Losses                                    2009
Other uses (non-food)                     1619
Processing                                1998
Production                                3829
Protein supply quantity (g/capita/day)    4980
Residuals                                 4618
Seed                                       758
Stock Variation                           4231
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2017, dtype: int64

In [5]:
#checking for the number of rows and columns in a dataset
df.shape
#total number of unique countries
df.nunique

<bound method DataFrame.nunique of        Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]>

In [6]:
# mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places
print('The mean for 2017 is :' ,df.Y2017.mean())
print('The standard deviation for 2017 is :' ,df.Y2017.std())

The mean for 2017 is : 140.917764860268
The standard deviation for 2017 is : 1671.8623590572788

# working with numpy and tuples

In [7]:
#working with numpy
import numpy as np
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[ : 1, 1 : ]

#tuples
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[2][-1]

#type error in tuples
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
#display(f)
#f.nunique()
f['Element Czode'].corr(['Y2017','Y2018'])

# Creating data frame from pandas

In [ ]:

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
a= pd.DataFrame(lst,columns=col,index=[1,2,3])
print(a)

# Slicing

In [ ]:
#slicing 
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=[2][-1]
print(x)

# subsetting

In [ ]:
wine_prod = df[df['Item'] == 'Wine'][['Y2015','Y2018']].sum()
print(wine_prod)

In [ ]:
high_sum = df.groupby('Area')['Y2017'].sum().reset_index()
print(high_sum.sort_values(['Y2017','Area'],ascending =False))

In [ ]:
high_sum = df.groupby('Area')['Y2017'].sum().reset_index()
high = high_sum.sort_values(['Y2017','Area'],ascending =True)
print(high)
#print(high[:7])